.App {
    display: flex;
    align-items: center;
}

.button-container {
    display: flex;
    align-items: center;
}

.speak-button {
    width: 5rem;
    height: 5rem;
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 1rem;
    background-color: green;

    /* 폰트 색상 */
    color: white;

    /* 폰트 크기 */
    font-size: 1.5rem;

    /* 기타 */
    border-radius: 100%;
    cursor: pointer;
    user-select: none;
    transition: background-color 0.75s;
}

.return-text {
    display: flex;
    align-items: center;
}